<?xml version="1.0"?>
<launch>
    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find doris_moveit_config)/launch/demo_gazebo.launch">
        <arg name="load_robot_description" value="true"/>
        <arg name="world_name" value="$(find doris_simulation_larc2021)/worlds/wrs2020.world"/>
    </include>
    <include file="$(find butia_navigation_gazebo)/navigate-doris.launch">
        <arg name="start_sim" value="false"/>
        <arg name="map" value="$(find tmc_wrs_gazebo_worlds)/maps/wrs2020/map.yaml"/>
    </include>
</launch>
