<?xml version="1.0"?>
<launch>
    <arg name="x" default="-2.4"/>
    <arg name="y" default="2.4"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="-1.570"/>
    <arg name="paused" default="false"/>
    <arg name="gazebo_gui" default="true"/>
    <arg name="urdf_path" default="$(find doris_description)/urdf/doris_description.urdf.xacro"/>
    <param name="/use_sim_time" value="true"/>
    <!-- startup simulated world -->
    

    <!-- send robot urdf to param server -->
    <param name="robot_description" command="xacro $(arg urdf_path)" />

    <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->

    <!-- load moveit config -->
    <include file="$(find doris_moveit_config)/launch/demo_with_controllers.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

        
    <!-- load head controller -->
    <!-- <include file="$(find doris_head_description)/launch/doris_head_controller.launch">
    </include>-->
    
    <!--- load head node -->
    <!-- <node pkg="doris_simulation_larc2021" type="head.py" name="doris_head" /> -->
    
    <!-- load navigation config -->
    <include file="$(find butia_navigation_gazebo)/navigate-doris.launch">
        <arg name="start_sim" value="false"/>
        <arg name="map" value="$(find doris_simulation_larc2021)/maps/wrs2020/map.yaml"/>
    </include>

    <include file="$(find tmc_gazebo_task_evaluators)/launch/robocup2021.launch">
        <arg name="robot_name" value="robot"/>
    </include>

</launch>
